* text=auto eol=lf
*.swift text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.xcconfig text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.a binary
*.ipa binary
*.p12 binary
*.mobileprovision binary
*.docx binary
Vendor/Minimuxer/** -whitespace
Vendor/DeviceSupport/** -whitespace
