<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM0VENDQWNtZ0F3SUJBZ0lCQVRB
	TkJna3Foa2lHOXcwQkFRc0ZBREFSTVE4d0RRWURWUVFEREFaRVpYWnAKWTJVd0lCY05N
	all3T0RNd01EYzBNVEk1V2hnUE5UTTNNakEyTURrd056UXhNamxhTUJFeER6QU5CZ05W
	QkFNTQpCa1JsZG1salpUQ0NBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FR
	b0NnZ0VCQUp2VEN3OXRaMSt5CnhicXVkbkdlVlNqQm5SRHRWR1JNL0xTWFlkRGFkR3J4
	cHUwc3hOMnlWa1FHOHYyMS9SNW94c2xrclE0RUh2OSsKOFlUbFU2QXZsNlg4RENNb1c0
	SWx6ZGJXeENiZEdHNDAxRTRtRUZCWUg5a0hYMk11Unk3L0pZbStBMmIvVEdOcQpxSW40
	bzZ5N3YzU2RZbkg3Y0dBQjhEN2tXTERRaFFDU1FRR204czIxZkpjb0pZZW8xNXNtYTNU
	MUFxZWgxbTF6ClczVlVxTGphbXlOdnhMajJKQk9sN1dpVXJQRFNuRytZbUpKOXZ0eENS
	Skk2OGVuenVYNHgxV2Z2VmQxRjFZaWgKU3NTR2twc2Z3M2w1Yi9lUUJNR0RGNXZtdTFW
	K3hjeGFvTDdudVROUGQzYjlnNTAvcjJLLzIrbnZUUGljNGR5cgo4b0lRV0NuTWR6RUNB
	d0VBQWFOQ01FQXdIUVlEVlIwT0JCWUVGRXNyd1UwSmNsa25sdnhKN0xxdVZxeCtWZWVH
	Ck1BOEdBMVVkRXdFQi93UUZNQU1CQWY4d0RnWURWUjBQQVFIL0JBUURBZ0VHTUEwR0NT
	cUdTSWIzRFFFQkN3VUEKQTRJQkFRQkdhVXk0MUJpc0hjYmFRTlpXRkN0L0ZvR0RDR3Zv
	UVRrRmtQcW5LM3hReUs2RjlubWhKcVhFdTA4UgpsaHZ5YTFja1VxVENyelYyTlNFYlFl
	a0dJNzJEbzBodVREVEcwUmNEZDVUQTlnU1ZTYXdIVHNPSUQyV1FmbEM4CjJZbk1OSUdq
	NGt2SFBLOVNZTzk5VzEwNGRBeFNzZ2NmcU42OVdlN3JvK2Qyd1Rzd2JHWndRZDdpSjRV
	bXJSenAKRUlKZUNVWXg2Z3pHVUNmTlI2U2Z3TTVOQVBURWltY3lHMXVDa1VsdjlxUGtx
	dnR5L0Yxd1pHZmxFZ1B5WGFsZAo2V2ltMTBrWUQ5NDlGbWxYRXhGazU0dUY5enVsMTVX
	K09raUNNRE1XZzcyMXUxem5halAvYUlZR3pXT3I4d3VGCkFia081dE14NTV4cXlEMlpE
	dytxUjBJVFRaSDEKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQ==
	</data>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRQzA5VERiT1ZaWWY1N24KTjJCc3cvVWgy
	aThwMVNEbytoOERRbEI4ZHV1Z2ltRCtUZEhPazdBVVF6d25lVlVmaEQ2SG1lMDdyeXZH
	cm1uMAorWXBxT2R2QnFyZTRhNWFaU1hLRE9yelA2STZ3NzR3MHhmVUlVd0xkWTlvZTRD
	SUlTYTF2VlNEcDJjeWFCakY1CkZudUFIWHJYdU5QbUpZc3l4SDFiOXcydzhjY3ZoQndv
	UkVKQ29XRUlUK2kyOTVTRElNZ3hrbkpySzlzSEgwSHYKcVhmUUhLeTFhL3NyaUxSOWR0
	cVVnOWdKS1dxZHZNWnROM3FNSWk2TzlsNW80VXEwbng1UHRxcStCZEdzRFR5Vgp0eHMx
	WUJQbU54OXphbHVYcFJkNWljdU1WbFBGcElmTlp6MHMzQlBHMWFUMUtES2JHdUlRc1g1
	aXNJVXhkMm9ICmlpZTFDNUlqQWdNQkFBRUNnZ0VCQUtJeFpwSUg2V20zTWNGQ2RFM29z
	ZTJldDBsQ2U1WDJvaGQwdDlsbmFiamkKYng5Z3R0MzJxQXJ4WEpodyt5Z2RpMEpWYURw
	bnZzLzlBb0dOclUrYS9tcXV6cThnMThJYS8rVzVud1NuQ0VaMAozM0Zwd1QrdHo5S0py
	amFnWkVDVGNUMXB5dTl2eFNDRXpwRWU0cUVwU3pMUnVqUDlrSzkzU0hsR2plSDhRN0ZF
	CnI2UGpzRFVaQU9GSTJMbG1oL2toZmV4bDMxVmc0cDFXdUVrN2MxVnJhdWZkcHlMa2dh
	dUticWdjNmFvWXdBbHkKaHl4WkZ3Z3Z5Sm1UMWJGR2tFU2hZOVJRK2VnK09wb3NYM1JK
	dHZtZ3EwMHlBSFVZN2QzbHppazF6MXNYeFFSYgp4VjI0TU11dkUrNlRXZWJtVGo3WlEw
	aVBiVjJ1MXg0Vi8wSTVZSGp2VWJrQ2dZRUE3VFB3cEN5TnlUTVRXL081Ck5hZ0RoekFv
	VnBzQ3JibUowdGI4TlBLQjNzcTZhN3FhaVVTWmhQZG03R0JIYmxDTURiYkJNZmFLZHo4
	NjFranAKN0hHZTMvenllTVRuYkpWRklMMnVyNS8yTzFXVTM0Q0UvVzJ5ekY4KzhVRnEy
	WDczLzVMNTdKa04rcWhwMEZLegpucXFKRndiREszdGVSbzB2STJlRkVQSW05MlVDZ1lF
	QXcwdzVXS3pzUzh1eGhZZ1BNQjNhTjVqS1JZaENmU29lCnkyNlZ5VEpGV0R6YjZyVFY3
	MjI0SjR6cFVBNjY1c0l0VlNPYkF4YXhvVjNrLzM0K2g0eTJFemJRZFQxYVp3V3gKa054
	WXdKSGF2QWh5SEpDWjgyaUNOTzdUSHFpb2NNNHFEMk4rMWlRYmJpQVg3MUJhR2duSnBv
	Yjc1QmJmSzJmRAoybUxQenRSS251Y0NnWUVBaG5McFZIVTRqTEdacUlZV0ZkYTg0VFNu
	dUtjMk5uZ3pLY0hYeEw4c1k3YnZRYjdNCmR6L2Q4S00yd0lhMkZrNHJoRjV4VlR1VU1w
	RXhiV0o0elI5OTJTSUw0ZTVoNm9jVlhzQ0ZNbUR0OWFYRnM0V3EKVytlQThCeVFsYmpw
	c293b1Q4SGtUWHBYbFJzK2x1azVqSmJIQzdrMmlQL3RhUG4vblFiQlF1Q3V1NDBDZ1lB
	NgpkVG1CS3BtOGdtZEw0aE14d3UzTDBJZFRVdHNjSGh5RHBrRmRyUmVHdHdqWTgzSktM
	ZHgrc2pZd1NZaDJoRThQCmVnM3ZXYjZuMzdRcEtmL0xrVG42L0dCZmg1TGszWlp1Rnhi
	VjVaTEV6LzVnUUlSa2tMYlE0MS84Z0YyVERwTVcKY2lESU5weWpWU1gwODJkVS9mTUhU
	c1pkV3Q5SVhkSUpMNlNtYzNNMnB3S0JnQmhNM3hnQXJyRkpxT0I3b0V3Ywp1UHdLalIr
	NFpqOUY2bytaaC9rOG52M2VFNXJrOWJTNEo0OFdMKzFTV2Q1cTFmajRXSHN1MFdraTM0
	OWRjUkFKCkZMajJaYm5yU1AxWmplaXY4VUU2SGtqUHg5SjRWWUVSRzdMUllPZ3BSUllO
	Z3FhUnFVUlcxa0oxZVEvTnZGbTgKQUdveXZENkVnS2tZNWdpOVBXWGZZdHBBCi0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN2ekNDQWFlZ0F3SUJBZ0lCQVRB
	TkJna3Foa2lHOXcwQkFRc0ZBREFBTUNBWERUSTJNRGd6TURBM05ERXkKT1ZvWUR6VXpO
	ekl3TmpBNU1EYzBNVEk1V2pBQU1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThB
	TUlJQgpDZ0tDQVFFQXRQVXcyemxXV0grZTV6ZGdiTVAxSWRvdktkVWc2UG9mQTBKUWZI
	YnJvSXBnL2szUnpwT3dGRU04CkozbFZINFEraDVudE82OHJ4cTVwOVBtS2FqbmJ3YXEz
	dUd1V21VbHlnenE4eitpT3NPK01OTVgxQ0ZNQzNXUGEKSHVBaUNFbXRiMVVnNmRuTW1n
	WXhlUlo3Z0IxNjE3alQ1aVdMTXNSOVcvY05zUEhITDRRY0tFUkNRcUZoQ0Uvbwp0dmVV
	Z3lESU1aSnlheXZiQng5Qjc2bDMwQnlzdFd2N0s0aTBmWGJhbElQWUNTbHFuYnpHYlRk
	NmpDSXVqdlplCmFPRkt0SjhlVDdhcXZnWFJyQTA4bGJjYk5XQVQ1amNmYzJwYmw2VVhl
	WW5MakZaVHhhU0h6V2M5TE53VHh0V2sKOVNneW14cmlFTEYrWXJDRk1YZHFCNG9udFF1
	U0l3SURBUUFCbzBJd1FEQWRCZ05WSFE0RUZnUVVNVFVBVVZzWQpmUURlV0N6dEJJc3F0
	S1UxQy9rd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBT0JnTlZIUThCQWY4RUJBTUNBUVl3
	CkRRWUpLb1pJaHZjTkFRRUxCUUFEZ2dFQkFGYVlVbHkxMEI1U3pwQ1NHUytoaEJtNWRD
	eTQrK2NBbytsbnZJNGcKSXlBaFNYR0lFaVAxM1VFQWdZZjZEVVl0RmxHTmFja2pqSHdY
	RW1EYStPSkFFMTEyMG5TVTZDS1Y0aUIwbWpxSgpUelF2Q0E4WERkeE96UlgxcUx0ZEt1
	dUdJcnp4TTNLd0R6Rk9Sd1dEZy9jY252TkdJSUxPdjczbG1tR0YyZHN4CmtpTVdmNFF3
	ZmFBYkJ4bUo2N1cxS1dKdUpDeVV6bk1VamZVNVpxTnowUWpqTVRacXlIMWxVbWpEVUI1
	TmlRcy8KUzN3dHFjbkFrenVaSlVHdUJieWpwVGh1VS8wc1c5Sk0zRW5Hb2lORTVjWklm
	Nk02SElZM2luaVRXTy9ZOURsZQpZZ2ljdWc1WFhwa1NTdWd6RUlzQW5KeDhtQXFONnow
	U3FWUGxnOGdEWFQ5bEExcz0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQ==
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRQzA5VERiT1ZaWWY1N24KTjJCc3cvVWgy
	aThwMVNEbytoOERRbEI4ZHV1Z2ltRCtUZEhPazdBVVF6d25lVlVmaEQ2SG1lMDdyeXZH
	cm1uMAorWXBxT2R2QnFyZTRhNWFaU1hLRE9yelA2STZ3NzR3MHhmVUlVd0xkWTlvZTRD
	SUlTYTF2VlNEcDJjeWFCakY1CkZudUFIWHJYdU5QbUpZc3l4SDFiOXcydzhjY3ZoQndv
	UkVKQ29XRUlUK2kyOTVTRElNZ3hrbkpySzlzSEgwSHYKcVhmUUhLeTFhL3NyaUxSOWR0
	cVVnOWdKS1dxZHZNWnROM3FNSWk2TzlsNW80VXEwbng1UHRxcStCZEdzRFR5Vgp0eHMx
	WUJQbU54OXphbHVYcFJkNWljdU1WbFBGcElmTlp6MHMzQlBHMWFUMUtES2JHdUlRc1g1
	aXNJVXhkMm9ICmlpZTFDNUlqQWdNQkFBRUNnZ0VCQUtJeFpwSUg2V20zTWNGQ2RFM29z
	ZTJldDBsQ2U1WDJvaGQwdDlsbmFiamkKYng5Z3R0MzJxQXJ4WEpodyt5Z2RpMEpWYURw
	bnZzLzlBb0dOclUrYS9tcXV6cThnMThJYS8rVzVud1NuQ0VaMAozM0Zwd1QrdHo5S0py
	amFnWkVDVGNUMXB5dTl2eFNDRXpwRWU0cUVwU3pMUnVqUDlrSzkzU0hsR2plSDhRN0ZF
	CnI2UGpzRFVaQU9GSTJMbG1oL2toZmV4bDMxVmc0cDFXdUVrN2MxVnJhdWZkcHlMa2dh
	dUticWdjNmFvWXdBbHkKaHl4WkZ3Z3Z5Sm1UMWJGR2tFU2hZOVJRK2VnK09wb3NYM1JK
	dHZtZ3EwMHlBSFVZN2QzbHppazF6MXNYeFFSYgp4VjI0TU11dkUrNlRXZWJtVGo3WlEw
	aVBiVjJ1MXg0Vi8wSTVZSGp2VWJrQ2dZRUE3VFB3cEN5TnlUTVRXL081Ck5hZ0RoekFv
	VnBzQ3JibUowdGI4TlBLQjNzcTZhN3FhaVVTWmhQZG03R0JIYmxDTURiYkJNZmFLZHo4
	NjFranAKN0hHZTMvenllTVRuYkpWRklMMnVyNS8yTzFXVTM0Q0UvVzJ5ekY4KzhVRnEy
	WDczLzVMNTdKa04rcWhwMEZLegpucXFKRndiREszdGVSbzB2STJlRkVQSW05MlVDZ1lF
	QXcwdzVXS3pzUzh1eGhZZ1BNQjNhTjVqS1JZaENmU29lCnkyNlZ5VEpGV0R6YjZyVFY3
	MjI0SjR6cFVBNjY1c0l0VlNPYkF4YXhvVjNrLzM0K2g0eTJFemJRZFQxYVp3V3gKa054
	WXdKSGF2QWh5SEpDWjgyaUNOTzdUSHFpb2NNNHFEMk4rMWlRYmJpQVg3MUJhR2duSnBv
	Yjc1QmJmSzJmRAoybUxQenRSS251Y0NnWUVBaG5McFZIVTRqTEdacUlZV0ZkYTg0VFNu
	dUtjMk5uZ3pLY0hYeEw4c1k3YnZRYjdNCmR6L2Q4S00yd0lhMkZrNHJoRjV4VlR1VU1w
	RXhiV0o0elI5OTJTSUw0ZTVoNm9jVlhzQ0ZNbUR0OWFYRnM0V3EKVytlQThCeVFsYmpw
	c293b1Q4SGtUWHBYbFJzK2x1azVqSmJIQzdrMmlQL3RhUG4vblFiQlF1Q3V1NDBDZ1lB
	NgpkVG1CS3BtOGdtZEw0aE14d3UzTDBJZFRVdHNjSGh5RHBrRmRyUmVHdHdqWTgzSktM
	ZHgrc2pZd1NZaDJoRThQCmVnM3ZXYjZuMzdRcEtmL0xrVG42L0dCZmg1TGszWlp1Rnhi
	VjVaTEV6LzVnUUlSa2tMYlE0MS84Z0YyVERwTVcKY2lESU5weWpWU1gwODJkVS9mTUhU
	c1pkV3Q5SVhkSUpMNlNtYzNNMnB3S0JnQmhNM3hnQXJyRkpxT0I3b0V3Ywp1UHdLalIr
	NFpqOUY2bytaaC9rOG52M2VFNXJrOWJTNEo0OFdMKzFTV2Q1cTFmajRXSHN1MFdraTM0
	OWRjUkFKCkZMajJaYm5yU1AxWmplaXY4VUU2SGtqUHg5SjRWWUVSRzdMUllPZ3BSUllO
	Z3FhUnFVUlcxa0oxZVEvTnZGbTgKQUdveXZENkVnS2tZNWdpOVBXWGZZdHBBCi0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN2ekNDQWFlZ0F3SUJBZ0lCQVRB
	TkJna3Foa2lHOXcwQkFRc0ZBREFBTUNBWERUSTJNRGd6TURBM05ERXkKT1ZvWUR6VXpO
	ekl3TmpBNU1EYzBNVEk1V2pBQU1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThB
	TUlJQgpDZ0tDQVFFQXRQVXcyemxXV0grZTV6ZGdiTVAxSWRvdktkVWc2UG9mQTBKUWZI
	YnJvSXBnL2szUnpwT3dGRU04CkozbFZINFEraDVudE82OHJ4cTVwOVBtS2FqbmJ3YXEz
	dUd1V21VbHlnenE4eitpT3NPK01OTVgxQ0ZNQzNXUGEKSHVBaUNFbXRiMVVnNmRuTW1n
	WXhlUlo3Z0IxNjE3alQ1aVdMTXNSOVcvY05zUEhITDRRY0tFUkNRcUZoQ0Uvbwp0dmVV
	Z3lESU1aSnlheXZiQng5Qjc2bDMwQnlzdFd2N0s0aTBmWGJhbElQWUNTbHFuYnpHYlRk
	NmpDSXVqdlplCmFPRkt0SjhlVDdhcXZnWFJyQTA4bGJjYk5XQVQ1amNmYzJwYmw2VVhl
	WW5MakZaVHhhU0h6V2M5TE53VHh0V2sKOVNneW14cmlFTEYrWXJDRk1YZHFCNG9udFF1
	U0l3SURBUUFCbzBJd1FEQWRCZ05WSFE0RUZnUVVNVFVBVVZzWQpmUURlV0N6dEJJc3F0
	S1UxQy9rd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBT0JnTlZIUThCQWY4RUJBTUNBUVl3
	CkRRWUpLb1pJaHZjTkFRRUxCUUFEZ2dFQkFGYVlVbHkxMEI1U3pwQ1NHUytoaEJtNWRD
	eTQrK2NBbytsbnZJNGcKSXlBaFNYR0lFaVAxM1VFQWdZZjZEVVl0RmxHTmFja2pqSHdY
	RW1EYStPSkFFMTEyMG5TVTZDS1Y0aUIwbWpxSgpUelF2Q0E4WERkeE96UlgxcUx0ZEt1
	dUdJcnp4TTNLd0R6Rk9Sd1dEZy9jY252TkdJSUxPdjczbG1tR0YyZHN4CmtpTVdmNFF3
	ZmFBYkJ4bUo2N1cxS1dKdUpDeVV6bk1VamZVNVpxTnowUWpqTVRacXlIMWxVbWpEVUI1
	TmlRcy8KUzN3dHFjbkFrenVaSlVHdUJieWpwVGh1VS8wc1c5Sk0zRW5Hb2lORTVjWklm
	Nk02SElZM2luaVRXTy9ZOURsZQpZZ2ljdWc1WFhwa1NTdWd6RUlzQW5KeDhtQXFONnow
	U3FWUGxnOGdEWFQ5bEExcz0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQ==
	</data>
	<key>SystemBUID</key>
	<string>F12748701990573881889310748</string>
	<key>HostID</key>
	<string>F669EEDD-5F8C-4DDD-8214-535693850C2B</string>
	<key>EscrowBag</key>
	<data>
	g2afuvo1WSE71FLjKkliCTQ4IDBhVF+eScmOyp3UWPQ=
	</data>
	<key>WiFiMACAddress</key>
	<string>ec:a9:07:44:40:95</string>
	<key>UDID</key>
	<string>00008110-00194C3C2ED2401E</string>
</dict>
</plist>